.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.5rem;
}

.team {
    font-size: 1.25rem;
}

.footer h3 {
    font-family: "Righteous", sans-serif;
}